{% extends 'base.html.twig' %}

{% block title %}Home | TO-DO LIST{% endblock %}

{% block body %}
    <section class="py-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                    <div class="jumbotron">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
